body{
    background-color: rgb(195, 156, 156);
}
.card-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.card{
    margin: 30px auto;
    width: 300px;
    height: 300px;
}
.card-img{
    width: inherit;
    height: inherit;
}
.card-img img{
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}
.cont{
    color:rgb(0,0,39);
    text-align:center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}



